
body{
    width: 800px;
    margin: auto;
    background-color: rgb(236, 227, 236);
}

/* Form */

input[type="text"]{
    display: block;
    width: 100%;
    margin-bottom: 40px;
}
input[type="date"], input[type="submit"]{
    height: 50px;
    
}
.container {
    display: inline;
    position: relative;
    margin-right: 100px;
    cursor: pointer;
    font-size: 35px;
  
  }
  .flex-container{
    display: flex;
    justify-content: space-between;
  }

  
  /* Custom radio buttons */

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .checkmark {
    border: 2px solid rgba(255, 255, 255, 0);
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;  
  }
  .red{
    background-color: red;
  }
  .orange{
    background-color: orange;
  }
  .green{
    background-color: green;
  }
  .container:hover input ~ .checkmark {
    border-color: yellow;
    opacity: 0.6;
  }

  .container input:checked ~ .checkmark {
    border-color: rgb(88, 22, 22);
  }

  /* Error message */

  .error{
    color:red;
    text-align: center;
    margin: 30px 0 30px;
  }

  /* Tasks */

  .task:first-of-type{
    margin-top: 40px;
  }
  .task{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
    border: 2px solid white;
  }

  .task p{
    display: flex;
    align-self: center;
    max-width: 60%;
  }

  .rightDiv{
    display: flex;
  }
  .task span{
    display: flex;
    
  }
  .task span:nth-child(1){
    align-self: center;
  }
  
  .close{
    margin-left: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    
  }